*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    background: black;
    color: white;
    
}
nav .nav-links{
    flex: 1;
    text-align: right;
}
nav ul a{
    text-decoration: none;
    color: white;
    
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}
nav ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color:chartreuse;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}
nav .fa {
    display: none;
}



@media screen and (max-width: 700px){
    nav .links{
        position: absolute;
        top:0;
        right: -200px;
        z-index: 2;
        background: brown;
        width: 200px;
        height: 100vh;
        transition: 0.5s ease-out;
        
    }
    nav ul li{
        display: block;
        text-align: left;
        padding: 20px;
        padding-left: 40px;
    }
    nav .fa {
        display: inline-block;
        margin: 10px;
        cursor: pointer;
    }
    nav ul li:hover::after{
        width: 0;
    }
}
